{%extends 'base.html'%}

{%block title%}Home{%endblock%}

{%block content%}
    <header class = "header">
    <h1>Tag Finder</h1>
    </header>
    <div class = "main">
      <p>Insert the url of the article you want to find more like</p>
      <form action ="/landing.html" method = "POST">
        {% csrf_token %}
        {{ form }}
        <input type = "submit" value = "Submit">
      </form>
    </div>
    <div class = "related_container">
      <div class = "related" id = "1">
        <p>Tag Finder is an application that's used to find more news articles like the one you submit. This is possible due to a script that finds "keywords" based on the number of times it appears in an article. We only pay attention to nouns and proper nouns, and we cross reference it with a prepopulated database (made with other articles) and return articles with similar tags.</p>
      </div>
    </div>
{%endblock%}