{%extends 'base.html'%}

{%block title%}Home{%endblock%}

{%block content%}
    <header class = "header">
    <h1>Tag Finder</h1>
    </header>
    <div class = "main">
      <p>Search another Article</p>
      <form action ="/landing.html" method = "POST">
        {% csrf_token %}
        {{ form }}
        <input type = "submit" value = "Submit">
      </form>
      <label><input type="checkbox" name="show" id = "myCheck" value="checked" onclick = "toggleVis()" onload = "clear()">Show Reference Rating</input></label><br>
      <h4>{{searchedtitle}}</h4><br>
    </div>
    <div class = "related_container">
      <div class = "related" id = "1">
        <h2>{{titlevar1}}</h2>
        <a href = "{{siteurl1}}">{{siteurl1}}</a>
        <h2 id = "rr1" class = "hide">ReferenceRating (RR){{rr1}}</h2>
      </div>
      <div class = "related" id = "2">
        <h2>{{titlevar2}}</h2>
        <a href = "{{siteurl2}}">{{siteurl2}}</a>
        <h2 id = "rr2" class = "hide">ReferenceRating (RR){{rr2}}</h2>
      </div>
      <div class = "related" id = "3">
        <h2>{{titlevar3}}</h2>
        <a href = "{{siteurl3}}">{{siteurl3}}</a>
        <h2 id = "rr3" class="hide">ReferenceRating (RR){{rr3}}</h2>
      </div>
    </div>
    <script>
    "use strict"
    function clear(){
      document.getElementById('myCheck').checked = false;
    }
    function toggleVis(){
      if (document.getElementById('myCheck').checked == true){
        document.getElementById('rr1').style.visibility = "visible";
        document.getElementById('rr2').style.visibility = "visible";
        document.getElementById('rr3').style.visibility = "visible";
      } else {
        document.getElementById('rr1').style.visibility = "hidden";
        document.getElementById('rr2').style.visibility = "hidden";
        document.getElementById('rr3').style.visibility = "hidden";
      }
    }
    </script>
{%endblock%}